################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Samane/v16
/Samane/App_Data/
/packages/
/Samane/bin/
/Samane/Properties/PublishProfiles
/Samane/obj/