@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left",  style = "padding-top: 0px" } ))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-left">
            <li>
                @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                @*@Html.ActionLink("سلام ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@

            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">خروج</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li>
            @Html.ActionLink("  ", "Authenticate", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "fa fa-user-plus", title = "ثبت نام", style = "font-size: 30px" })
    </li>
    <li>@Html.ActionLink(" ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "fa fa-user", title = "ورود", style = "font-size: 30px" })</li>

</ul>
}
