@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="eh">
        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>*@


@*<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">*@
@*<link rel="stylesheet" href="fonts/icomoon/style.css">*@

@*<link rel="stylesheet" href="~/csss/bootstrap.min.css">*@
@*<link rel="stylesheet" href="~/csss/jquery-ui.css">*@
@*<link rel="stylesheet" href="~/csss/owl.carousel.min.css">
    <link rel="stylesheet" href="~/csss/owl.theme.default.min.css">*@


@*<link rel="stylesheet" href="~/csss/jquery.fancybox.min.css">*@

@*<link rel="stylesheet" href="~/csss/bootstrap-datepicker.css">*@

@*<link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">*@

<link rel="stylesheet" href="~/css/aos.css">

@*<link rel="stylesheet" href="~/csss/style.css">*@


<div class="site-wrap">

    <div class="wrapperindex1">
        <div class="banner">
            <div class="banner-text">
                <p>آرارات مکاترونیک</p>
            </div>
        </div>
        <div class="wrapperindex">
            <div class="site-section" id="teachers-section">
                <div class="container">

                    @*<div class="row1 mb-5 justify-content-center">
                            <div class="col-lg-7 mb-5 text-center" data-aos="fade-up" data-aos-delay="">
                                <h2 class="text-black">خدمات ما</h2>
                                <p class="mb-5">
                                    دسترسی راحت تر به امکانات ما از این طریق
                                </p>
                            </div>
                        </div>*@

                    <div class="row1 flexdisplay">
                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="teacher text-center">
                                <figure class="m-0">
                                    <a href="course-single.html">
                                        <img src="~/images/sale2.jpg" alt="Image" class="img-fluid three">
                                    </a>
                                </figure>
                                <div class="py-2">
                                    <h2 class="text-black">فروشگاه ما</h2>
                                    @*<p class="position">Physics Teacher</p>*@
                                    <p>خرید دستگاه های پزشکی و لوازم مصرفی بیمارستانی</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="teacher text-center">
                                <figure class="m-0">
                                    <a href="course-single.html">
                                        <img src="~/images/software1.jpg" alt="Image" class="img-fluid three">
                                    </a>
                                </figure>
                                <div class="py-2">
                                    <h2 class="text-black">نرم افزار بیمارستانی</h2>
                                    @*<p class="position">Physics Teacher</p>*@
                                    <p>لینک رو اینجا بزاریم</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                            <div class="teacher text-center">
                                <figure class="m-0">
                                    <a href="/Account/Login">
                                        <img src="~/images/repair1.jpg" alt="Image" class="img-fluid three">
            </a>
                                </figure>
                                <div class="py-2">
                                    <h2 class="text-black">خدمات تعمیرات</h2>
                                    @*<p class="position">Physics Teacher</p>*@
                                    <p>تعمیرات دستگاه هاو مشاوره و ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="site-section" id="programs-section">
                <div class="container">
                    @*<div class="row1 mb-5 justify-content-center">
                            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                                <h2 class="section-title">Our Programs</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam repellat aut neque! Doloribus sunt non aut reiciendis, vel recusandae obcaecati hic dicta repudiandae in quas quibusdam ullam, illum sed veniam!</p>
                            </div>
                        </div>*@
                    <div class="row1 mb-5 align-items-center">
                        <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                            <img src="~/images/undraw_youtube_tutorial.svg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-4 ml-auto centerindexp" data-aos="fade-up" data-aos-delay="200">
                            <h2 class="text-black mb-4 centertext">مشاوره وعیب یابی دستگاه به صورت آنلاین</h2>
                            <p class="mb-4">جهت سهولت کار و تسریع در فرایند تعمیر، با یک تماس ویدئویی از مهندس های ما مشورت بگیرید با وارد کردن  نوع دستگاه و شماره آیدی ویدئویی خود در اسرع وقت مهندس  مربوطه با شما تماس میگیرد...</p>
                            <div class="form-login">
                                @*<input type="submit" class="btn btn-default" value="مرحله بعد" />*@
                                <button>مشاوره آنلاین</button>
                            </div>
                            @*<div class="d-flex align-items-center custom-icon-wrap mb-3">
                                    <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                                    <div><h3 class="m-0">22,931 Yearly Graduates</h3></div>
                                </div>

                                <div class="d-flex align-items-center custom-icon-wrap">
                                    <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                                    <div><h3 class="m-0">150 Universities Worldwide</h3></div>
                                </div>*@

                        </div>
                    </div>

                    <div class="row1 mb-5 align-items-center">
                        <div class="col-lg-4 mr-auto order-2 order-lg-1 centerindexp" data-aos="fade-up" data-aos-delay="200">
                            <h2 class="text-black mb-4 centertext">راهنمای استفاده از سایت</h2>
                            <p class="mb-4">جهت دریافت فایل آموزشی استفاده از نرم افزار و سایت لطفا دکمه دریافت فایل پی دی اف را بزنیدولی در صورت بروز شوال پشتیبانان ما در خدمت شما هستند. </p>
                            <div class="form-login">
                                @*<input type="submit" class="btn btn-default" value="مرحله بعد" />*@
                                <button>دریافت فایل راهنما</button>
                                @*<iframe src="../../test.pdf" width="100%" height="100%"></iframe>
                                <iframe src="@Url.Action("GetPDF")" width="90%" height="90%">
                                </iframe>*@
                            </div>

                            @*<div class="d-flex align-items-center custom-icon-wrap mb-3">
                                    <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                                    <div><h3 class="m-0">22,931 Yearly Graduates</h3></div>
                                </div>

                                <div class="d-flex align-items-center custom-icon-wrap">
                                    <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                                    <div><h3 class="m-0">150 Universities Worldwide</h3></div>
                                </div>*@

                        </div>
                        <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                            <img src="~/images/undraw_teaching.svg" alt="Image" class="img-fluid">
                        </div>

                    </div>

                    <div class="row1 mb-5 align-items-center">
                        <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                            <img src="~/images/undraw_teacher.svg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-4 ml-auto centerindexp" data-aos="fade-up" data-aos-delay="200">
                            <h2 class="text-black mb-4 centertext">پشتیبانی</h2>
                            <p class="mb-4">با وجود آموزش های لازم در سایت، در صورت داشتن سوال، پشتیبانان ما در خدمت شما کاربران عزیز می باشند لطفا از قسمت ارتباط با ما و یا از طریق تلفن های ما با ما در ارتباط باشید.</p>

                            @*<div class="d-flex align-items-center custom-icon-wrap mb-3">
                                    <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                                    <div><h3 class="m-0">22,931 Yearly Graduates</h3></div>
                                </div>

                                <div class="d-flex align-items-center custom-icon-wrap">
                                    <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                                    <div><h3 class="m-0">150 Universities Worldwide</h3></div>
                                </div>*@

                        </div>
                    </div>

                </div>
            </div>

            <div class="site-section inner inner-hospital bg-light" id="contact-section">
                <div class="container">

                    <div class="row justify-content-center">
                        <div class="marginauto">
                            <h2 class="text-black mb-4 right">
                                پیام به ما
                                <a href="@Url.Action("Index", "Home")"><img src="~/images/backtoup.png" />  </a>
                            </h2>
                            <p>لطفا در صورت بروز مشکل و یا انتقاد و پیشنهاد برای ما پیام ارسال کنید و یا شماره تماس را در قسمت توضیحات وارد نمایید تا در اسرع وقت با شما تماس حاصل شود.</p>
                            <form method="post" class="formfull" data-aos="fade">
                                <div class="van">
                                    <div class="">
                                        <div class="form-group row">
                                            <input type="text" class="form-control" placeholder=" نام ونام خانوادگی ">
                                        </div>
                                        <div class="form-group row">
                                            <input type="text" class="form-control" placeholder="موضوع">
                                        </div>
                                        <div class="form-group row">
                                            <input type="email" class="form-control" placeholder="ایمیل">

                                        </div>
                                        <div class="form-group row">
                                            <input type="number" class="form-control" placeholder="شماره همراه">
                                        </div>
                                    </div>
                                    <div class="van2">
                                        <div class="form-group row">
                                            <div class="">
                                                <textarea class="form-control" id="" cols="30" rows="10" placeholder="متن خود را در این قسمت بنویسید"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-login">
                                    <button>ثبت</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .site-wrap -->
@*<script src="~/jss/jquery-3.3.1.min.js"></script>
    <script src="~/jss/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/jss/jquery-ui.js"></script>
    <script src="~/jss/popper.min.js"></script>
    <script src="~/jss/bootstrap.min.js"></script>
    <script src="~/jss/owl.carousel.min.js"></script>
    <script src="~/jss/jquery.stellar.min.js"></script>
    <script src="~/jss/jquery.countdown.min.js"></script>
    <script src="~/jss/bootstrap-datepicker.min.js"></script>
    <script src="~/jss/jquery.easing.1.3.js"></script>*@
<script src="~/js/aos.js"></script>
@*<script src="~/jss/jquery.fancybox.min.js"></script>*@
@*<script src="~/jss/jquery.sticky.js"></script>*@


<script src="~/js/mains.js"></script>

<script type="text/javascript">
    function ShowPDF() {
        var myFilepath = document.getElementById('myFilepath');
        window.open(myFilepath.value, 'SalesReport', "resizable=yes,scrollbars=yes,status=yes", 465, 255);
    }
</script>