@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="">
    <div class="wrapper wrapper-main">
        <div class="inner inner-main">
            @*<div class="form-horizontal">*@
            <div class="unformframe">
                <h2>کاربر عزیز</h2>
                <div>
                    <p>
                       این صفحه در وضعیت آماده سازی به سر میبرد.
                    </p>
                </div>
                <div class="form-login">
                    @*<input type="submit" value="Log in" class="button" />*@
                    @Html.ActionLink("برگشت", "Index", "Home", null, new { @class = "butten" })
                </div>
                @*</div>*@
            </div>
        </div>
    </div>
</div>

