@model IEnumerable<SelectListItem>

@if (ViewBag.Bool == true)
{
    <div>
        @Html.ValidationMessage("City", "", new { @class = "text-danger" })
        @Html.DropDownList("City", (List<SelectListItem>)ViewBag.Cities, " شهر خود را انتخاب نمایید", new { id = "citydropdown", @class = "form-control" })
    </div>

}