@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="">
    <div class="wrapper wrapper-main">
        <div class="inner inner-main">
            @*<div class="form-horizontal">*@
                <div class="unformframe">
                    <h2>رمز عبور جدید</h2>
                    <div>
                        <p>
                            رمز عبور جدید به ایمیل شما ارسال شده است لطفا ایمیل خود را چک کنید و دوباره وارد شوید.
                        </p>
                    </div>
                    <div class="form-login">
                        @*<input type="submit" value="ورود مجدد" class="butten" />*@
                        @Html.ActionLink("ورود مجدد", "Login", "Account", null, new { @class = "butten" })
                        @*<button>@Html.ActionLink("ورود مجدد", "Login", "Account")</button>*@
                    </div>
                @*</div>*@
            </div>
        </div>
    </div>
</div>
