@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="">
    <div class="wrapper wrapper-main">
        <div class="inner inner-main">
            @*<div class="form-horizontal">*@
            <div class="unformframe">
                <div>
                    <p>
                        @Html.ActionLink("    رمز عبور شما تغییر کرد لطفا برای ورود اینجا کلیک کنید " , "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
